@import "@/styles/imports";

.participate {
  padding: 0 17.5rem;

  @include media("<=tablet") {
    padding: 0 7%;
  }
}

.participate_header {
  font-size: 4.8rem;
  margin-bottom: 3rem;
  font-weight: 600;
  text-align: center;
  font-family: $font-slab;

  @include media("<=tablet") {
    font-size: 4rem;
    width: 100%;
    line-height: 120%;
  }
}

.participate_headers {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 200;
  text-align: center;
  font-family: $font-slab;

  @include media("<=tablet") {
    font-size: 3rem;
    width: 100%;
    line-height: 120%;
  }
}

.participate_items {
  position: relative;
  margin-bottom: 70px;
  background-color: antiquewhite;
  border: 1px solid rgb(226, 189, 41);
  border-radius: 7px;
  padding: 15px;

  @include flex(space-between, flex-start, row nowrap);

  @include media("<=tablet") {
    flex-direction: row;
    gap: 8rem;
  }
}

.participate_item {
  height: fit-content;
  width: 22rem;
  color: rgb(0, 0, 0);
  @include flex(center, center, column nowrap);

  @include media("<=tablet") {
    gap: 2rem; 
    width: 90%;
    @include flex(flex-start, flex-start, row nowrap);
  }
}

.participate_itemicon {
  position: relative;
  width: 8rem;
  height: 8rem;
  margin-bottom: 1.6rem;
  flex-shrink: 0;
}

.participate_title {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-bottom: 0.4rem;
  text-align: center;

  @include media("<=tablet") {
    font-size: 2.8rem;
    line-height: 1;
    margin-bottom: 0.8rem;
    text-align: left;
  }
}

.participate_text {
  color: rgb(0, 0, 0);
  font-size: 1.8rem;
  line-height: 2.6rem;
  opacity: 0.8;
  text-align: center;
  font-family: $font-sans;

  @include media("<=tablet") {
    font-size: 2.1rem;
    line-height: 150%;
    text-align: left;
  }
}

.participate_tex {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  line-height: 2.6rem;
  opacity: 0.8;
  text-align: center;
  font-family: $font-sans;

  @include media("<=tablet") {
    font-size: 2.4rem;
    line-height: 150%;
    text-align: left;
  }
}

.participate_line {
  position: absolute;
  top: 4rem;
  left: 10rem;
  height: auto;
  width: 90rem;

  @include media("<=tablet") {
    left: -16.5rem;
    top: 20rem;
    width: 50%;
    transform: rotate(90deg);
  }

  @include media("<=mobile") {
    left: -14rem;
    top: 20rem;
    width: 70%;
    transform: rotate(90deg);
  }
}
