@import "@/styles/imports";


.requirements_item {
  font-size: 1.6rem;
  line-height: 3.2rem;
  font-weight: 400;
  font-family: $font-inter;
}

.requirements_button {
  width: 100%;
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 7.1235px;
}