@import "@/styles/imports";

.pagination {
  margin: 1.5rem 0;

  @include flex(space-between, center);

  @include media("<=tablet") {
    margin: 1.5rem 0;
  }
}

.pagination_sizer {
  @include flex(space-between, center);
}

.pagination_stats {
  margin: 0;

  @include media("<=tablet") {
    font-size: 2.1rem;
  }
}

.pagination_controls {
  margin: auto;

  @include media("<=tablet") {
    width: 100%;
    order: 1;
    margin-top: 1.5rem;
  }
}

.pagination_sizerText {
  font-weight: 500;

  @include media("<=tablet") {
    margin-right: 1rem;
    font-size: 2.1rem;
  }
}

.pagination_filter {
  width: fit-content !important;
}

.pagination_filterWrapper {
  padding: 0.2rem 0.4rem !important;
  margin-left: 1rem;
  background-color: $col-black-200 !important;
  border: none !important;
  border-radius: 3.81864px !important;

  @include media("<=tablet") {
    margin-left: 0;
    padding: 0.5rem 2rem !important;
  }
}

.pagination_filterInput {
  max-width: 2.5rem !important;
  padding: 0.5rem 0.4rem !important;
  width: 1rem;
  padding: 0;
  color: $col-white !important;
  opacity: 1;

  @include media("<=tablet") {
    max-width: 3rem !important;
  }
}

.pagination_filterCaret {
  width: 1.7rem !important;
  height: 1.7rem !important;
}
