%btn {
  min-width: 5rem;
  min-height: 3rem;
  transition: all 0.2s ease-out;
  border-width: 1px;
  border-style: solid;
  outline: none;
  cursor: pointer;

  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 550;
  font-family: $font-gilroy;

  @include flex(center, center);
  column-gap: 0.6rem;

  @include flex(center, center, row nowrap);

  &:hover {
    opacity: 0.8;
  }
}

%btn-gold-100 {
  @extend %btn;
  background-color: $col-gold-100;
  border-color: $col-black-100;

  color: $col-black-700;
}

%btn-gold-100-outline {
  @extend %btn;
  background-color: transparent;
  border-color: $col-gold-100;

  color: $col-black-700;
}

%btn-gold-150-outline {
  @extend %btn;
  background-color: transparent;
  border-color: $col-gold-150;

  color: $col-white;
}

%btn-gold-200 {
  @extend %btn;
  background-color: $col-gold-200;
  border-color: $col-black-200;

  color: $col-black-200;
}

%btn-gold-200-outline {
  @extend %btn;
  background-color: transparent;
  border-color: $col-gold-200;

  color: $col-white;
}

%btn-gold-250 {
  @extend %btn;
  background-color: $col-gold-250;
  border-color: $col-gold-250;

  color: $col-black-200;
}

%btn-gold-gradient {
  @extend %btn;
  border: none;
  background: $col-gold-gradient;

  color: $col-black-650;
}

%btn-gold-faded {
  @extend %btn;
  border-color: transparent;
  background-color: $col-gold-faded;

  color: $col-gold-850;
}

%btn-gold-brown {
  @extend %btn;
  border-color: transparent;
  background-color: $col-gold-brown;
  
  color: $col-gold-250;
}

%btn-black-700 {
  @extend %btn;
  background-color: $col-black-700;
  border-color: $col-black-700;

  color: $col-white;
}

%btn-black-700-outline {
  @extend %btn;
  background-color: transparent;
  border-color: $col-black-700;

  color: $col-white;
}

%btn-green-200 {
  @extend %btn;
  background-color: $col-green-200;
  border-color: $col-green-200;

  color: $col-white;
}

%btn-white {
  @extend %btn;
  background-color: $col-white;
  border-color: $col-white;

  color: $col-black;
}

%btn-white-outline {
  @extend %btn;
  background-color: transparent;
  border-color: $col-white;

  color: $col-white;
}

%btn-transparent {
  @extend %btn;
  background-color: transparent;
  border-color: transparent;

  color: $col-white;
}
