@import "@/styles/imports";

.staking {
  gap: 11rem;
  margin: 6.4rem -6.3rem 12.8rem;
  @include flex(space-between, stretch, row);

  @include media("<=tablet") {
    flex-wrap: wrap;
    margin: 6.4rem 0 12.8rem;
    gap: 6.4rem 2rem;
  }
}

.staking_form {
  border-radius: 5px;
  width: 45.7rem;
  padding: 2.4rem 2.4rem 5.6rem;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  border: 1px solid $col-black-200;
  background-color: $col-black-350;

  @include media("<=tablet") {
    width: auto;
    flex-grow: 1;
  }

  @include media("<=mobile") {
    width: 100%;
  }
}

.staking_formhead {
  margin-bottom: 6.4rem;
  @include flex(space-between, center);
}

.staking_formtitle {
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.staking_formbalance {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: $font-inter;
  color: $col-grey-50;

  span {
    color: $col-gold-250;
  }
}

.staking_formfield {
  overflow: hidden;
  position: relative;
  margin-bottom: 6.4rem;
  @include flex(flex-start, center);
}

.staking_formaction {
  position: absolute;
  margin: auto;
  right: 1.6rem;
  font-weight: 500;
  line-height: 152.2%;
  cursor: pointer;
  font-family: $font-inter;
  color: $col-gold-250;
}

.staking_forminput {
  font-size: 2.4rem !important;
  padding: 0 !important;
  height: 6rem !important;
  line-height: unset !important;
  font-weight: 800 !important;
  font-feature-settings: $font-inter;

  &::placeholder {
    font: inherit !important;
  }
}

.staking_btn {
  width: 100%;
  height: 5.9rem;
  border-radius: 7.1235px;

  &:not(:last-of-type) {
    margin-bottom: 2.3rem;
  }
}
